<strong> Olá <u>{{creator_name}}</u></strong>
<p> Houve uma nova inscricao no Meetup que voce criou, detalhes abaixo:</p>
<p>
  <strong> Meetup: </strong>  {{meetup_info}}<br/>
  <strong> Data/Hora:</strong> {{meetup_date}} <br/>
  <strong> Usuario: </strong> {{user_id}}<br />
  <br />
</p>
  <small>
    Para mais informacoes entre em contato com o email abaixo:
  </small>
<br>
